//color
$primary-color: #aa0601;
$secondary-color: #ffffff;
$tertiary-color: #fbf2f2;
$border-left-red: #9f1213;

//font-size
$fz-14: 14px;
$fz-16: 16px;
$fz-20: 20px;
$fz-24: 24px;
$fz-36: 36px;
$fz-48: 48px;
$fz-64: 64px;