.footer {
    background-color: $primary-color;
    &-nav {
        padding-top: 48px;
        padding-bottom: 32px;
    }
    &-link {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            margin-left: 48px;
            border-bottom: 3px solid transparent;
            &:hover {
                border-bottom: 3px solid $secondary-color;
            }
        }
    }
    &-icon {
        display: flex;
        li {
            &:nth-child(2){
                margin-left: 32px;
            }
            &:nth-child(3){
                margin-left: 32px;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        a {
            width: 48px;
            height: auto;
        }
    }
    &-message {
        font-size: $fz-36;
        margin-bottom: 32px;
        li {
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &-copyright {
        border-top: 1px solid $secondary-color;
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        p {
            color: $secondary-text-color;
        }
        &-link {
            display: flex;
            li {
                margin-left: 48px;
                border-bottom: 3px solid transparent;
                &:hover {
                    border-bottom: 3px solid $secondary-color;
                }
            }
        }
    }
}
// @include table {
//     .footer {
//         &-nav {
//             padding-bottom: 40px;
//         }
//     }
// }
// @mixin mobile {
//     .footer {
//         &-nav {
//             display: flex;
//             justify-content: space-between;
//         }
//     }
// }