.header {
    &-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-link {
            display: flex;
            align-items: center;
            font-size: $fz-20;
            li {
                padding: 6px 0;
                margin-left: 32px;
                margin-right: 32px;
                border-bottom: 3px solid transparent;
                &:hover {
                    border-bottom: 3px solid $secondary-color;
                }
            }
        }
    }
}
.logo {
    h1 {
        a {
            background-image: url(https://github.com/zitonbar/2023-week3-product/blob/main/images/logo-white.png?raw=true);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 80px;
        height: 48.57px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        margin: 16px 0;
        }
    }
}