@import '../mixin';

.faq {
    &-content {
        max-width: 64.85%;
        padding: 96px 0 80px 0;
        &-title {
            font-size: $fz-24;
            font-weight: 700;
            margin-top: 32px;
            margin-bottom: 24px;
        }
        &-text {
            &-dark {
                font-size: $fz-20;
                font-weight: 700;
                margin-bottom: 8px;
            }
        }
        &-text {
            li {
                &:nth-child(2){
                    margin-bottom: 32px;
                }
                &:nth-child(4){
                    margin-bottom: 32px;
                }
                &:nth-child(6){
                    margin-bottom: 32px;
                }
                &:nth-child(8){
                    margin-bottom: 32px;
                }
                &:nth-child(10){
                    margin-bottom: 32px;
                }
                @include mobile {
                    &:nth-child(2){
                        margin-bottom: 24px;
                    }
                    &:nth-child(4){
                        margin-bottom: 24px;
                    }
                    &:nth-child(6){
                        margin-bottom: 24px;
                    }
                    &:nth-child(8){
                        margin-bottom: 24px;
                    }
                    &:nth-child(10){
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}
.title-black {
    font-size: $fz-48;
    font-weight: 700;
    border-left: 8px solid $border-left-red;
    padding-left: 16px;
}
