<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glasses</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class="feature text-primary bg-secondary">
          <div class="container">
              <h2 class="title-red-mb-24">用專業的心，做專業的事</h2>
              <ul class="feature-content" >
                  <li class="feature-item" >
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section2-1.png?raw=true" alt="金錢圖示">
                      <h3>單一價格</h3>
                      <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>    
                  </li>
                  <li class="feature-item" >
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section2-2.png?raw=true" alt="時鐘圖示">
                      <h3>20 分鐘即可取件</h3>
                      <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                  </li>
                  <li class="feature-item" >
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section2-3.png?raw=true" alt="愛心圖示">
                      <h3>安心售後服務</h3>
                      <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                  </li>
                  <li class="feature-item" >
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-sectioin2-4.png?raw=true" alt="眼鏡圖示">
                      <h3>關於鏡片</h3>
                      <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                  </li>
              </ul>
          </div>
      </section>
      <section class="classic">
          <div class="container">
              <h2 class="title-red-mb-48">經典系列鏡框</h2>
              <ul class="classic-list" >
                  <li>
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section3-1.png?raw=true" alt="optical image">
                      <h4>OPTICAL</h4>
                  </li>
                  <li>
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section3-2.png?raw=true" alt="sunglasses image">
                      <h4>SUNGLASSES</h4>
                  </li>
                  <li>
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section3-3.png?raw=true" alt="functional image">
                      <h4>FUNCTIONAL</h4>
                  </li>
              </ul>
          </div>
      </section>
      <section class="co-branding">
          <div class="container">
              <h2 class="title-white-mb-48">聯名設計鏡框</h2>
              <ul>
                  <li>
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section4-1.png?raw=true" alt="DOUBLE A+ image">
                      <h4>DOUBLE A+</h4>
                  </li>
                  <li>
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section4-2.png?raw=true" alt="YOUTH image">
                      <h4>YOUTH</h4>
                  </li>
              </ul>
          </div>
      </section>
      <section class="recommend">
          <div class="container">
              <h2 class="title-red-mb-48">顧客推薦</h2>
              <ul class="recommend-list">
                  <li class="recommend-item">
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section5-1.png?raw=true" alt="">
                      <div class="recommend-item-content">
                          <span class="name">Jessy</span>
                          <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                          <span class="time">
                              <time class="time-style">2021/06/20</time>
                          </span>
                      </div>
                  </li>
                  <li class="recommend-item">
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section5-2.png?raw=true" alt="">
                      <div class="recommend-item-content">
                          <span class="name">凱倫</span>
                          <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                          <span class="time">
                              <time class="time-style">2021/04/18</time>
                          </span>
                      </div>

                  </li>
                  <li class="recommend-item">
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section5-3.png?raw=true" alt="">
                      <div class="recommend-item-content">
                          <span class="name">悠悠</span>
                          <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                          <span class="time">
                              <time class="time-style">2020/12/25</time>
                          </span>
                          </div>
                  </li>
                  <li class="recommend-item">
                      <img src="https://github.com/zitonbar/2023-week3-product/blob/main/images/home-section5-4.png?raw=true" alt="">
                      <div class="recommend-item-content">
                          <span class="name">Kyuan</span>
                          <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                          <span class="time">
                              <time class="time-style">2020/10/31</time>
                          </span>
                      </div>
                  </li>
              </ul>
          </div>
      </section>
      <section class="contact-box bg-secondary">
          <div class="container">
              <div class="contact-content">
                  <h2 class="title-red-mb-48">聯絡我們</h2>
                  <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                  <form class="contact-form">
                      <label for="name">姓名</label>
                      <input type="text" id="name" placeholder="陳小明">
                      <label for="tel">電話</label>
                      <input type="text" id="tel" placeholder="0912-345-678">
                      <label for="email">電子郵件</label>
                      <input type="text" id="email" placeholder="example@gmail.com">
                      <label for="feedback">意見反應</label>
                      <textarea class="feedback" name="feedback" id="feedback" placeholder="請輸入您的意見" rows="8" cols="30"></textarea>
                      <div class="checkbox-block">
                          <input type="checkbox" id="privacy" name="privacy">
                          <label for="privacy">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                      </div>
                  </form>
              </div>
              <a href="#" class="button button-submit">確認送出</a>
          </div>
      </section>
  </main>  

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
